<%- include ('../partials/header') %>

<div class="container">
    <div class="row">
        <h2 class="col-12">Edit <%= camp.name %> Campground</h2>
        <div class="formdiv">
            <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    
                    <input class="form-control mb-3" type="text" name="camp[name]" id="campName" value="<%=camp.name %>">
                    
                    <input class="form-control" type="number" name="camp[price] " id="campPrice" value="<%=camp.price %>" min="0.1" step="0.01">
                </div>
                <div class="form-group">
                    
                    <input class="form-control" type="text" name="camp[imageUrl]" id="" value="<%=camp.image %>">
                </div>
                <div class="form-group">
                    
                    <textarea name="camp[Info]" rows="5"> <%= camp.body %> </textarea> 
                    
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-large btn-primary m-auto">Update Camp</button>
                </div>
                
                
                
            </form>
            <a href="/campgrounds/<%= camp._id %>">Go Back!</a>
        </div>
    </div>
</div>



<%- include ('../partials/footer.ejs') %>