<%- include ('../partials/header.ejs') %>

    <div class="row">
        <div class="col-md-3 mb-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <figure class="figure img-thumbnail">
                <div >
                    <img src="<%= camp.image %>" alt="<%= camp.name %> campground" class="img-fluid p-2 figure-img">
                </div>
                <figcaption class="figure-caption">
                    <h4 class="caption-name"><a href="">  <%= camp.name.toUpperCase() %> </h4></a>
                    <h5 class="float-sm-right pr-2 mr-2">$<%= camp.price %>/night</h5>
                    <p class="m-3 p-3">
                        <%= camp.description %>
                    </p>
                    <p>
                       <em>Submitted by <a href="/users/<%= camp.author.id %> "><%= camp.author.username %> </a>, <%= moment(camp.createdAt).fromNow() %> </em>
                    </p>
                   <% if(currentUser && camp.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        
                            <a href="/campgrounds/<%= camp._id %>/edit" class="btn btn-md btn-warning mb-1">Edit</a>
                            <form action="/campgrounds/<%= camp._id %>?_method=delete" method="post" class="form-button">
                                <button class="btn btn-danger btn-medium">Delete</button>
                            </form>
                    <% } %>
                            <a href="/campgrounds" class="btn btn-medium btn-primary mb-1">Back</a>
                        
                    
                   
   
                </figcaption>
            </figure>

            <div class="card card-body bg-light">
                <div class="text-right">
                    <a href="/campgrounds/<%= camp._id %>/comments/new" class="btn btn-sm btn-success">Leave a Comment</a>
                    
                </div>
                <hr>
                <% camp.comments.forEach(comment => { %>
                    <div class="row mb-3">
                        <div class="col-md-12 comm">
                            <%= comment.author.username %>
                            <span class="float-right pr-2"> <%= moment(comment.createdAt).fromNow() %> </span>
                            
                            <div class="comm-text">
                                <p class="mb-0 ">
                                    <%= comment.text %>
                                </p>
                                <% if( currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                    <div class="update-button">
                                        <a href="/campgrounds/<%= camp._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning m-auto">Edit</a>
                                        <form action="/campgrounds/<%= camp._id %>/comments/<%= comment._id %>?_method=delete" method="post" class="m-auto edit-form">
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </form>
                                    </div>
                                <% } %>
                            
                            </div>
                            
                        
                        </div>
                        
                    </div>
                    
                <% }); %>
                
            </div>
            
           
        </div>
    </div>
<%- include ('../partials/footer.ejs') %>